<main class="container account" fxLayout="column wrap">
  <h1>Account</h1>

  <div fxLayout="row" fxLayoutGap="32px" fxFlex="100">
    <div class="account__image" fxFlex="60" fxLayoutAlign="center center">
      <img
        src="/assets/background-create-account.png"
        loading="lazy"
        alt="banner account"
      />
    </div>
    <mat-tab-group
      animationDuration="0ms"
      fxFlex="40"
      fxLayout="column wrap"
      fxLayoutGap="24px"
    >
      <mat-tab label="Login">
        <app-form
          [forms]="formLoginAccount"
          [form]="formGroupLogin"
          class="form"
        ></app-form
      ></mat-tab>
      <mat-tab label="Create Account">
        <app-form
          [forms]="formCreateAccount"
          [form]="formGroupCreate"
          class="form"
        ></app-form
      ></mat-tab>
    </mat-tab-group>
  </div>
</main>
