.primary-dark {
  color: var(--primary-dark);
}
.primary-medium {
  color: var(--primary-medium);
}
.primary-light {
  color: var(--primary-light);
}
.secondary-dark {
  color: var(--secondary-dark);
}
.secondary-medium {
  color: var(--secondary-medium);
}
.secondary-light {
  color: var(--secondary-light);
}
.white {
  color: var(--white);
}
.black {
  color: var(--black);
}
