//Primary

:root {
  --primary-dark: #31394d;
  --primary-medium: #617487;
  --primary-light: #6699cc;

  //Secondary
  --secondary-dark: #e5e9f2;
  --secondary-medium: #f5f6fa;
  --secondary-light: #ffffff;

  --white: #fff;
  --black: #000;
}
