.product {
  &__image {
    figure {
      max-width: 500px;
    }
  }
  &__info {
    position: sticky;
    top: 107px;

    h1 {
      font-size: 2rem;
      line-height: 2.5rem;
      font-weight: 500;
      color: var(--primary-dark);
      width: calc(100% - 36px);
    }

    &-wishlist {
      position: absolute;
      right: 8px;
      top: 8px;
      z-index: 1;
      opacity: 0.5;
      &.active {
        opacity: 1;
        .mat-icon {
          color: var(--primary-light);
        }
      }
    }
    &-price {
      font-size: 1.5rem;
    }

    &-description {
      font-size: 0.875rem;
      line-height: 1.5rem;
      &:first-letter {
        text-transform: uppercase;
      }
    }
  }
}
