<main class="container product" fxLayout="row" fxLayoutAlign="center start">
  <mat-progress-spinner
    fxLayout="row"
    fxLayoutAlign="center center"
    mode="indeterminate"
    *ngIf="(product | json) == ({} | json)"
  ></mat-progress-spinner>

  <section
    class="product__image"
    fxFlex="60"
    *ngIf="(product | json) != ({} | json)"
    fxLayoutAlign="center center"
  >
    <figure>
      <img src="{{ product.image }}" alt="{{ product.title }}" />
    </figure>
  </section>
  <section
    class="product__info"
    fxFlex="40"
    fxLayout="column"
    fxLayoutAlign="start start"
    *ngIf="(product | json) != ({} | json)"
    fxLayoutGap="16px"
  >
    <h1 class="product__info-title">{{ product.title }}</h1>
    <app-rating [rating]="product.rating.rate"></app-rating>
    <p class="product__info-price">{{ product.price | currency: 'EUR' }}</p>
    <button
      mat-raised-button
      fxLayout="row"
      fxLayoutAlign="center center"
      color="primary"
      (click)="addToCart(product)"
      [disabled]="buttonAddToCart"
    >
      Add to Cart
    </button>
    <p class="product__info-description">{{ product.description }}</p>
  </section>
</main>
