<div
  class="product"
  fxLayout="column wrap"
  fxLayoutAlign="start center"
  fxLayoutGap="8px"
>
  <button
    class="product__wishlist"
    (click)="addToWishlist(product)"
    [ngClass]="{ active: toggle }"
    *ngIf="!toggle"
  >
    <mat-icon class="primary-medium">favorite</mat-icon>
  </button>

  <button
    class="product__wishlist"
    [ngClass]="{ active: toggle }"
    (click)="removeToWishlist(product)"
    *ngIf="toggle"
  >
    <mat-icon class="primary-medium">favorite</mat-icon>
  </button>

  <a
    routerLink="/product/{{ product.id }}"
    title="{{ product.title }}"
    class="product__image"
  >
    <figure>
      <img [src]="product.image" alt="{{ product.title }}" />
    </figure>
  </a>
  <h3 class="product__title">
    <a routerLink="/product/{{ product.id }}" title="{{ product.title }}">{{
      product.title
    }}</a>
  </h3>
  <app-rating [rating]="product.rating.rate"></app-rating>
  <a
    [routerLink]="['category', product.category]"
    class="product__category"
    title="{{ product.category }}"
    >{{ product.category }}</a
  >
  <p class="product__price">{{ product.price | currency: 'EUR' }}</p>

  <button
    class="product__add primary-dark"
    mat-raised-button
    color="primary"
    *ngIf="!inCart"
    (click)="addToCart(product)"
  >
    Add to Cart
  </button>
  <button
    class="product__add primary-dark"
    mat-raised-button
    color="primary"
    *ngIf="inCart"
    (click)="removeFromCart(product)"
  >
    Remove from Cart
  </button>
</div>
