.product {
  box-shadow: 0px 1px 4px 0px var(--secondary-dark);
  margin-bottom: 2rem;
  padding: 1rem;
  transition: box-shadow 333ms;
  text-align: center;
  position: relative;

  &:hover {
    box-shadow: 0px 1px 10px 0px var(--secondary-dark);
  }
  .product__wishlist {
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 1;
    opacity: 0.5;

    &.active {
      opacity: 1;
      .mat-icon {
        color: var(--primary-light);
      }
    }
  }
  .product__title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 55px;
    font-size: 0.875rem;
    font-weight: 500;
  }
  .product__image {
    width: 100%;
    height: 0;
    padding-top: calc(14 / 16 * 100%);
    position: relative;
    margin: 0 auto;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  .product__category {
    text-decoration: none;
    color: var(--primary-dark);
    &:first-letter {
      text-transform: uppercase;
    }
  }

  .product__price {
    font-weight: 500;
  }

  .product__add {
    width: 100%;
  }
}
