.cart {
  h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 36px;
  }
  &__empty {
    p {
      font-size: 1.5rem;
    }
  }

  &__bottom {
    margin-top: 2rem;
  }
  table.mat-table {
    box-shadow: none;

    tr.mat-row + tr.mat-row {
      margin-top: 1rem;
    }
    td.mat-cell,
    th.mat-header-cell {
      padding: 1rem;
    }
  }
}
