<main class="container cart">
  <h1>Shopping Cart</h1>

  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    *ngIf="dataSource.length > 0"
  >
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id.</th>
      <td mat-cell *matCellDef="let product">{{ product.id }}</td>
    </ng-container>
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let product">
        <img
          [src]="product.image"
          alt="{{ product.title }}"
          width="75"
          height="75"
        />
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let product">{{ product.title }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let product">
        {{ product.price | currency: 'EUR' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let product">
        <button (click)="removeFromCart(product)">
          <mat-icon class="primary-light">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="cart__empty" *ngIf="dataSource.length <= 0">
    <p>Não existem produtos na sua sacola</p>
  </div>

  <div
    class="cart__bottom"
    *ngIf="dataSource.length >= 1"
    fxLayout="column wrap"
    fxLayoutAlign="end end"
    fxLayoutGap="16px"
  >
    <div class="cart__bottom-price">Total: {{ total | currency: 'EUR' }}</div>
    <div>
      <button mat-stroked-button color="primary" (click)="goToHome()">
        Keep buying
      </button>
      <button mat-raised-button color="primary">Go to Payment</button>
    </div>
  </div>
</main>
