<main class="container payment" fxLayout="row" fxLayoutGap="32px">
  <div fxFlex="33" class="profile" fxLayout="column">
    <mat-card fxLayout="column">
      <h3>Profile</h3>
      <button
        class="primary-light profile__edit-btn"
        fxLayoutAlign="center center"
        *ngIf="!profileStatus"
        (click)="onEditProfile()"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <div class="profile__content" fxLayout="column">
        <div class="profile__content-edit" *ngIf="!profileStatus">
          <p><strong>Email:</strong> {{ checkoutForm.value.email }}</p>
          <p>
            <strong>First name</strong>: {{ checkoutForm.value.name }}
            {{ checkoutForm.value.lastName }}
          </p>
        </div>

        <form
          [formGroup]="checkoutForm"
          (ngSubmit)="onSubmit()"
          fxLayout="row wrap"
          fxLayoutGap="16px"
          *ngIf="profileStatus"
          class="profile__content-form"
        >
          <mat-form-field appearance="legacy" fxFlex="calc(50% - 16px)">
            <mat-label>First name</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
          <mat-form-field appearance="legacy" fxFlex="calc(50% - 16px)">
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastName" />
          </mat-form-field>

          <mat-form-field appearance="legacy" fxFlex="100%">
            <mat-label>Enter your email</mat-label>
            <input
              matInput
              placeholder="example@example.com"
              formControlName="email"
              required
            />
          </mat-form-field>

          <mat-form-field appearance="legacy" fxFlex="calc(50% - 16px)">
            <mat-label>CPF</mat-label>
            <input matInput formControlName="document" required />
          </mat-form-field>

          <mat-form-field appearance="legacy" fxFlex="calc(50% - 16px)">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phone" required />
          </mat-form-field>

          <button
            mat-raised-button
            color="primary"
            fxFlex="100%"
            [disabled]="!this.checkoutForm.valid"
          >
            Continue
          </button>
        </form>
      </div>
    </mat-card>
  </div>
  <div fxFlex="33" fxLayout="column" class="shipping" fxLayoutGap="32px">
    <mat-card fxLayout="column">
      <h3>Shipping</h3>

      <div *ngIf="!this.checkoutForm.valid">
        <p>Aguardando o preenchimento dos dados</p>
      </div>
      <div class="shipping__form-name" fxLayout="row wrap" fxLayoutGap="16px">
        <form
          [formGroup]="shippingForm"
          fxLayout="column wrap"
          fxLayoutGap="16px"
          *ngIf="checkoutForm.valid && shippingStatus"
        >
          <mat-form-field appearance="legacy">
            <mat-label>CEP</mat-label>
            <input matInput formControlName="cep" />
          </mat-form-field>
          <div
            fxLayout="row wrap"
            fxLayoutGap="16px"
            *ngIf="shippingFormStatus"
          >
            <mat-form-field appearance="legacy" fxFlex="calc(50% - 16px)">
              <mat-label>Street</mat-label>
              <input matInput formControlName="street" readonly />
            </mat-form-field>

            <mat-form-field appearance="legacy" fxFlex="calc(50% - 16px)">
              <mat-label>Number</mat-label>
              <input matInput formControlName="number" />
            </mat-form-field>

            <mat-form-field appearance="legacy" fxFlex="calc(100% - 16px)">
              <mat-label>Complement</mat-label>
              <input matInput formControlName="complement" />
            </mat-form-field>

            <mat-form-field appearance="legacy" fxFlex="calc(100% - 16px)">
              <mat-label>District</mat-label>
              <input matInput formControlName="district" readonly />
            </mat-form-field>

            <mat-form-field appearance="legacy" fxFlex="calc(50% - 16px)">
              <mat-label>City</mat-label>
              <input matInput formControlName="city" readonly />
            </mat-form-field>

            <mat-form-field appearance="legacy" fxFlex="calc(50% - 16px)">
              <mat-label>State</mat-label>
              <input matInput formControlName="state" readonly />
            </mat-form-field>

            <button
              mat-raised-button
              color="primary"
              fxFlex="100%"
              [disabled]="!this.shippingForm.valid"
              (click)="onPayment()"
            >
              Continue
            </button>
          </div>
        </form>
      </div>
    </mat-card>
    <mat-card class="payment" fxLayout="column">
      <h3>Payment</h3>
      <div fxLayout="row" fxLayoutGap="16px">
        <p>Página de pagamento</p>
      </div>
    </mat-card>
  </div>

  <div fxFlex="33" fxLayout="column" class="minicart" fxLayoutGap="32px">
    <mat-card fxLayout="column" class="minicart__content"
      ><h3>Resume</h3>

      <table
        mat-table
        [dataSource]="products"
        class="mat-elevation-z8"
        *ngIf="products.length > 0"
      >
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef [style.display]="'none'">
            Image
          </th>
          <td mat-cell *matCellDef="let product">
            <img
              [src]="product.image"
              alt="{{ product.title }}"
              width="75"
              height="75"
              class="cart__image"
            />
          </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef [style.display]="'none'">
            Name
          </th>
          <td mat-cell *matCellDef="let product">{{ product.title }}</td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef [style.display]="'none'">
            Price
          </th>
          <td mat-cell *matCellDef="let product">
            {{ product.price | currency: 'EUR' }}
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns"
          [style.display]="'none'"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card>
  </div>
</main>
