table.mat-table {
  box-shadow: none;

  tr.mat-row + tr.mat-row {
    margin-top: 1rem;
  }
  td.mat-cell,
  th.mat-header-cell {
    padding: 0.5rem;
  }
}
.profile {
  .mat-card {
    position: sticky;
    top: 121px;
  }
}

.payment {
  h3.title {
    display: flex;
    align-items: center;

    .mat-icon {
      margin-right: 8px;
    }
  }
}

.profile,
.shipping {
  position: relative;

  &__edit-btn {
    position: absolute;
    right: 8px;
    top: 16px;
  }
}

.minicart {
  &__content {
    position: sticky;
    top: 121px;

    .cart__image {
      height: calc(50px - 2px);
      width: calc(50px - 2px);
      border-radius: 50%;
      border: 2px solid #f6f6f6;
    }
  }
}
