table.mat-table {
  box-shadow: none;

  tr.mat-row + tr.mat-row {
    margin-top: 1rem;
  }
  td.mat-cell,
  th.mat-header-cell {
    padding: 0.5rem;
  }
}

.profile {
  position: relative;

  &__edit-btn {
    position: absolute;
    right: 8px;
    top: 16px;
  }
}

.minicart {
  &__content {
    position: sticky;
    top: 95px;
  }
}
